<!DOCTYPE html>
<html>
<head>
  <title>My Devices</title>
  <link rel="stylesheet" type="text/css" href="css/student_css/my_devices.css">
</head>
<body>

<div class="header">
  <div class="left-section">
    <button class="sg">
      Study sage
    </button>
   </div>

  {{>student_nav}}
</div>

<div>
  <p class="MD">My Devices</p>
</div>

 <div class="welcome-msg">
    <p>You are allowed 2 devices per account. Device limit refreshes every month.</p>
  </div>

  <div>
    <div class="index">
        <section style="height: 25px; background-color: #DCDCDC; ">
            <h2>Devices</h2>
            <p style="position: absolute; left: 500px; top: 20px; font-family: Arial;font-size: 14px; font-weight: bold;">Last accessed</p>
        </section>
        <section style="height: 60px; border-left: #ffffff; border-right: #ffffff;">
            <h2>Windows V10</h2>
            <p style="position: absolute; left: 500px; top: 70px; font-family: Arial;font-size: 14px; opacity: 0.7;">Unknown Location.10/20/2023.2:39PM</p>
        </section>
         <section style="height: 60px; border-left: #ffffff; border-right: #ffffff; border-bottom: #ffffff">
            <h2>Mac OS X.v10.15.7</h2>
             <p style="position: absolute; left: 500px; top: 150px; font-family: Arial;font-size: 14px; opacity: 0.7;">Unknown Location.10/20/2023.2:39PM</p>
        </section>
    </div>
  </div>

<div>
    <p class="footer-msg">© 2003-2023 Chegg Inc. All rights reserved.</p>
  </div>

  <div>
    <p class="msg-2">Academic integrity / Feedback / Help center / Manage subscription</p>
  </div>

<hr class="horizontal-line">

<div class="cydgphi">
    <button>Cookie Notice</button>
    <button>Your Privacy Choices</button>
    <button>Do not sell my info</button>
    <button>General Policies</button>
    <button>Privacy Policy</button>
</div>

</body>
</html>
