<!DOCTYPE html>
<html>
<head>
	<title>security</title>
	<link rel="stylesheet" type="text/css" href="css/student_css/security.css">
</head>
<body>

<div class="header">
	<div class="left-section">
		<button class="sg">
			Study sage
		</button>
   </div>

 {{>student_nav}}
</div>

<div>
	<p class="se">Security</p>
	<p class="cp">Change Password</p>
</div>

 <div class="card">	
 	<div>
 		<p class="line-1">Current Password</p>
 	</div>
 	    <input class="Box-1" type="text" name="copypaste" placeholder="">
 	<div>
 		<p class="line-2">New Password</p>
 	</div>
 	    <input class="Box-2" type="text" name="copypaste" placeholder="">
<div>
	<p class="long-single-line">You're changing the password for: {{sp_data.email}}</p>
</div>

<div class="yaun">
	<p class="ypmc" style="font-size: 16px; font-weight: bold;">Your password must contain</p>
	<p>✓ At least 6 characters</p>
	<p>✓ Uppercase and lowercase letters</p>
	<p>✓ Number or punctuation</p>
</div>

<div>
	<button class="savec">Save Changes</button>
	
</div>
</div>

<div>
	<p class="changee" style="position: absolute;
	font-family: Arial;
	font-size: 18px;
	top: 260px;
	left: 850px;">Change email</p>

 <div class="card" style="top: 330px; left: 850px; right: 10px; bottom: 20px; height: 400px;">	
 	<div>
 		<p class="line-1">New email</p>
 	</div>
 	    <input class="Box-1" style="top: 120px;"type="text" name="copypaste" placeholder="">
 	<div>
 		<p class="line-2" style="top: 168px;">Confirm new email</p>
 	</div>
 	    <input class="Box-2" style="top: 210px;" type="text" name="copypaste" placeholder="">
<div>
	<p class="long-single-line" style="top: 250px;">*MFA required to confirm email change.</p>
</div>

<div>
	<button class="savec" style="top: 300px">Save Changes</button>
	
</div>
</div>

<div>
	<p class="mfa">Multi factor authentication</p>
</div>
<div class="index">
        <section class="section-1">
            <h2>We value your privacy. Enabling multi-factor authentication (MFA) makes your<br> account more secure by requiring a code to confirm it’s really you. <br><br>Once you enable MFA, we’ll send a code to your email every time you login.
</h2>
        </section>
    </div>

    <div class="ssps">
    	<p>Study Sage Products & Services</p>

    	<button 
    	style="margin-bottom: 10px;
    	background-color: white; 
    	border:none;">AI Expert</button><br>

    	<button  
    	style="margin-bottom: 10px; 
    	background-color: white; 
    	border:none;">Human Expert</button><br>

    	<button  
    	style="margin-bottom: 10px; 
    	background-color: white; 
    	border:none;">Study Guide</button><br>

    	<button  
    	style="margin-bottom: 10px; 
    	background-color: white; 
    	border:none;">Learn</button><br>
    </div>

    <div class="CS">
    	<p>Customer Service</p>
    	
    	<button
    	style="margin-bottom: 10px;
    	background-color: white; 
    	border:none;">Give Us Feedback</button><br>

    	<button  
    	style="margin-bottom: 10px; 
    	background-color: white; 
    	border:none;">Customer Service</button><br>

    	<button  
    	style="margin-bottom: 10px; 
    	background-color: white; 
    	border:none;">Manage Subscription</button><br>
    </div>

     <div class="C">
    	<p>Company</p>
    	
    	<button  
    	style="margin-bottom: 10px;
    	background-color: white; 
    	border:none;">About Study Sage</button><br>

    	<button 
    	style="margin-bottom: 10px; 
    	background-color: white; 
    	border:none;">Study sage for good</button><br>

    	<button 
    	style="margin-bottom: 10px; 
    	background-color: white; 
    	border:none;">Investor Relations</button><br>

    	<button 
    	style="margin-bottom: 10px; 
    	background-color: white; 
    	border:none;">Jobs</button><br>

    	<button  
    	style="margin-bottom: 10px; 
    	background-color: white; 
    	border:none;">Site Map</button><br>
    </div>

    <div class="educators">
    	<p>Educators</p>
    	
    	<button
    	style="margin-bottom: 10px;
    	background-color: white; 
    	border:none;">Institute of Digital Learning</button><br>

    	<button  
    	style="margin-bottom: 10px; 
    	background-color: white; 
    	border:none;">Academic Integrity</button><br>

    </div>

<div class="cydgphi">
    <button>Cookie Notice</button>
    <button>Your Privacy Choices</button>
    <button>Do not sell my info</button>
    <button>General Policies</button>
    <button>Privacy Policy</button>
</div>

  <div>
  	<p class="footer-msg">© 2003-2023 Chegg Inc. All rights reserved.</p>
  </div>
  <hr class="horizontal-line">

  <div class="fti">
    <button><img class="fb" src="icons\facebook.jpg" width="50" height="40" alt="search_img"></button>
    <button><img class="twit" src="icons\twitter.jpg" width="40" height="35" alt="search_img"></button>
    <button><img class="inst" src="icons\instagram.jpg" width="37" height="38" alt="search_img"></button>
  </div>

  <div class="GA">
    <button><img class="G" src="icons\App-Store-Icon.jpg" width="135" height="44" alt="search_img"></button>
    <button><img class="A" src="icons\Google-Play-icon.jpg" width="137" height="45" alt="search_img"></button>
   
  </div>
</body>
</html>