<div class="header">
	<div class="left-section">
		<button class="study_sage_button">
			Study Sage
		</button>
   </div>
	<div class="middle-section"><input class="search-bar"type="text" placeholder="search study guide"><button class="search-button">

		<img class="search_icon" src="icons\search.png" width="30" height="30" alt="search_img">
	</button>
		
    </div>

	<div class="right-section">
		<!-- <button class="Q_and_answer_button">
        Q and A
    </button> -->
	<a href="/submit_question"><button class="Q_and_answer_button""> Q and A </button></a>
	
    <button class="study_guide_button">
        study guide
    </button>
    
    <a href="expret_login"><button class="AI_Expert_button"> Expert Login </button></a>
 
    <img class="explore-img"src="icons\explore.png"><style>
    	img{margin-left: 24px;
			margin-right: 24px;
			cursor: pointer;
			margin-bottom: 20px;
		}
    </style>
      {{#if isAuthenticated}}
    <a href="/logout"><button class="Sign_in_button">Logout</button></a>
{{else}}
    <a href="/login" id="signInButton"><button class="Sign_in_button">Sign in</button></a>
{{/if}}


    </div>
 </div> 

<script src="/studysage/src/controllers/login_script.js"></script>
 