		<div class="sidebar">
 	<div class="study-sage">
 			<a href="Dashboard" style="text-decoration: none;">Study Sage</a>
 	</div>
 	<div>
 		
		<a href="Dashboard"><button class="Home">Home</button></a>
 	</div>
 	<div>
 		<button class="Study-tools">Study tools</button>
 	</div>
 	<div>
 		
		<a href="/submit_question"><button class="Post-a-question">Post a question</button></a>
 	</div>
 	<div>
 		<button class="AI-Expert">AI Expert</button>
 	</div>
 	<div>
 		<button class="My-Courses">My Courses</button>
 	</div>
 	<div>
 		<button class="My-books">My books</button>
 	</div>
 	<div>
 		<button class="career">Career</button>
 	</div>
 	<div>
 		<button class="Life">Life</button>
 	</div>
 </div>