
  <div class="sidebar">
  <div class="all-btn">
  <!--<button class="study-sage-btn-img">StudySage</button><br>
  <hr class="horizontal-line">-->
  <a href="/Dashboard" style="text-decoration: none;"><button class="home">Home<img src="submit question image\home.png" alt="Life Icon"></button></a><br>
  <hr class="horizontal-line">
  <a href="http://localhost:3000/aichat" style="text-decoration: none;"><button class="ai-btn-img">AI Expert<img src="submit question image\chatbot.png" alt="Life Icon"></button></a> <br>
  <hr class="horizontal-line">
  <button class="my-books-btn-img">My books<img src="submit question image\books.png" alt="Life Icon"></button><br>
  <hr class="horizontal-line">
   <button class="study-tools">Study tools<img src="submit question image\study.png" alt="Life Icon"></button><br>
  <hr class="horizontal-line">
 <button class="my-c-btn-img">My Courses<img src="submit question image\my courses.png" alt="Life Icon"></button><br>
  <hr class="horizontal-line">
   <a href="/check_subscription_before_posting" style="text-decoration: none;"><button class="post-q-btn-img">Post a question<img src="submit question image\post q.png" alt="Life Icon" ></button></a><br>
  <hr class="horizontal-line">
  <!-- <button class="life-button">Life  <img src="submit question image\leaf icon.png" alt="Life Icon"></button>-->
  </div>
  <div class="subscribe">
  <a href="/subscribe" style="text-decoration: none;"><button>Subscribe Now</button></a>	
  </div>
</div>