	 
<div class="header">
	<div class="left-section">
		<a href="Dashboard"><button class="sg">
			Study sage
		</button></a> 
   </div>
   
   <div class="oopsbmm">
		
		<a href="my_overview"><button>Overview<img class="overview" src="icons\overview.jpg" width="77" height="45" alt="search_img"></button></a>
		<a href="#"> <button>Orders<img class="order" src="icons\order.png" width="48" height="40" alt="search_img"></button></a>
		<a href="student_profile"><button>Profile info<img class="profile" src="icons\profile.jpg" width="48" height="40" alt="search_img"></button></a>
		<a href="security"><button>Security<img class="security" src="icons\lock.png" width="48" height="40" alt="search_img"></button></a>
		<a href="payment_method"><button>Bkash<img class="baksh" src="icons\credit-card.png" width="46" height="45" alt="search_img"></button></a>
		<a href="my_devices"><button>My devices<img class="My-devices" src="icons\my devices.jpg" width="58" height="45" alt="search_img"></button></a>
		<a href="my_courses"><button>My courses<img class="My-courses" src="icons\my courses.png" width="56" height="43" alt="search_img"></button></a>

  </div>