.header{
	height: 70px;
	width: 100rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	box-shadow: 0 1px 2px  rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.12);
}
.left-section{
	width: 100%;
	max-width: 300px;
	margin-left: 10px;
	
}
.Home_button{
	font-family: Arial;
	font-size: 27px;
	height: 42px;
	width: 120px;
	margin-left: 340px;
	margin-top: 13px;
	border-radius: 4px;
	border: none;
	background-color: white;
	cursor: pointer;
}
.Home_button:hover{
	opacity: 0.3;
}
.middle-section{
	flex: 0.70;
	margin-left: 10px;
	margin-right: 30px;
	display: flex;
	align-items: center;
}
.search-bar{
	font-size: 16px;
	margin-top: 0px;
	flex: 0.85;
	height: 40px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(192,192,192);
	border-radius: 2px;
	padding-left: 40px;
	box-shadow: inset 1px 2px 5px rgba(0,0,0,0.05);
}
.search-button{
	height: 43px;
	width: 50px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(192,192,192);
	margin-right: 40px;
	margin-left: -1.5px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}
.search-button:hover{
	opacity: 0.3;
}
.search_icon{
	margin-left: 3px;
	margin-top: -0px;
}
.profile-logout-btn {
	display: flex;
	align-items: center;
  }
  
  .profile-logout-btn a {
	text-decoration: none;
  }
  
  .profile-logout-btn button {
	margin-left: 10px;
	height: 42px;
	padding: 0 15px;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	background-color: white;
	font-family: Arial;
	font-size: 16px;
  }
  
  .profile-logout-btn button:hover {
	opacity: 0.3;
  }

.sidebar{
	position: fixed;
	bottom: 0;
	left: 0px;
	top: 0px;
	width: 220px;
	background-color: rgb(200, 194, 241);
}
.all-btn{
	margin-top: 5rem;
}
.sidebar
button{
	margin: -0.5rem;
	height: 35px;
	width: 200px;
	border: none;
	font-size: 17.5px;
	padding-top: 2rem;
	cursor: pointer;
	display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 39px;
	background-color: rgb(200, 194, 241);
}
.sidebar
button:hover{
	opacity: 0.3;
}
.horizontal-line{
	width: 100%;
}
/*.life-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px; /* Adjust the gap as needed 
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: #fff; /* Adjust the background color as needed 
    font-size: 16px;
}

.life-button img {
    width: 37px; /* Adjust the width of the image as needed 
    height: 37px;/* Adjust the height of the image as needed 
}*/
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px; /* Adjust the gap as needed */
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: #fff; /* Adjust the background color as needed */
    font-size: 16px;
}
.home img {
    width: 21px; /* Adjust the width of the image as needed */
    height: 21px;/* Adjust the height of the image as needed */
}
.study-tools{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px; /* Adjust the gap as needed */
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: #fff; /* Adjust the background color as needed */
    font-size: 16px;
}
.study-tools img {
    width: 24px; /* Adjust the width of the image as needed */
    height: 24px;/* Adjust the height of the image as needed */
}
.post-q-btn-img{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px; /* Adjust the gap as needed */
    padding: 10px;
	padding-left: 2.1rem;
    border: none;
    cursor: pointer;
    background-color: #fff; /* Adjust the background color as needed */
    font-size: 16px;
}
.post-q-btn-img img {
    width: 21px; /* Adjust the width of the image as needed */
    height: 21px;/* Adjust the height of the image as needed */
}
.ai-btn-img{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px; /* Adjust the gap as needed */
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: #fff; /* Adjust the background color as needed */
    font-size: 16px;
}
.ai-btn-img img {
    width: 30px; /* Adjust the width of the image as needed */
    height: 30px;/* Adjust the height of the image as needed */
}
.my-c-btn-img{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px; /* Adjust the gap as needed */
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: #fff; /* Adjust the background color as needed */
    font-size: 16px;
}
.my-c-btn-img img {
    width: 22px; /* Adjust the width of the image as needed */
    height: 22px;/* Adjust the height of the image as needed */
}
.my-books-btn-img{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px; /* Adjust the gap as needed */
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: #fff; /* Adjust the background color as needed */
    font-size: 16px;
}
.my-books-btn-img img {
    width: 27px; /* Adjust the width of the image as needed */
    height: 27px;/* Adjust the height of the image as needed */
}
.subscribe{
	height: 100px;
	width: 100px;
}
.card{
	background-color: #FFFAF0;
	align-items: center;
	bottom: 280px;
	position: absolute;
	padding-top: 20px;
	left: 500px;
	height: 250px;
	width: 500px;
	border-radius: 10px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.Post-a-question-box{
	position: absolute;
	bottom:95px;
	height: 75px;
	width: 380px;
	padding-left: 19px;
	left: 50px;
	border-radius: 5px;
	border:none;
}
.post{
	font-family: Arial;
	position: absolute;
	left: 50px;
	top: 10px;
	font-size: 20px;
	color: black;
}
.sub{
	font-family: Arial;
	position: absolute;
	top: 45px;
	left: 50px;
	color: black;
	font-size: 15px;
	
}
.continue-to-post-button{
	position: absolute;
	left: 225px;
	top: 200px;
	height: 30px;
	width: 140px;
	border-radius: 50px;
	border:none;
	cursor: pointer;
	color: white;
	background-color: black;
}
.continue-to-post-button:hover{
	opacity: 0.3;
}

.AI-Expert-button{
	position: absolute;
	left: 375px;
	top: 200px;
	height: 30px;
	width: 100px;
	border-radius: 50px;
	border:none;
	cursor: pointer;
	color: white;
	background-color: black;
}
.AI-Expert-button:hover{
	opacity: 0.3;
}

.my-courses-container{
	margin-top: 7rem;
	width: 100px;
	margin-left: 70rem;
	font-family: Arial, Helvetica, sans-serif;

}
.my-courses-container
p{
	padding-left: 1rem;
	font-size: 18px;
	width: 150px;
}
.my-courses-container
button{
	margin: .2rem;
	border-radius: 50px;
	border: none;
	height: 40px;
	width: 200px;
	cursor: pointer;
}
.my-courses-container
button:hover{
	opacity: 0.3;
}
.my-courses-container
.three{
	border: 2px solid #000;
}
.two-color-box{
	width: 500px;
	margin-top: 8rem;
	margin-left: 31rem;
}
.two-color-box
.div-1{
	background: linear-gradient(to top, white 70%, rgb(184, 211, 234) 50%);
	height: 150px;
	width: 230px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.two-color-box
.div-2{
	background: linear-gradient(to top, white 70%, rgb(200, 194, 241) 50%);
	width: 230px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.div1-div-2{
	display: flex;
	column-gap: 2rem;
}
.div1-div-2
p{
	padding: 3rem;
}
.para-one{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	padding-left: 2rem;
}
.container-four{
	position: absolute;
	top: 440px;
	left: 1120px;
}
.para{
	font-family: Arial;
	font-weight: bold;
	font-size: 20px;
}
.four-color-box{
	width: 500px;
	margin-top: 15rem;
	margin-left: 31rem;
}
.four-color-box
.box-1{
	background: linear-gradient(to top, white 70%, rgb(184, 211, 234) 50%);
	height: 150px;
	width: 230px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.four-color-box
.box-2{
	background: linear-gradient(to top, white 70%, rgb(200, 194, 241) 50%);
	width: 230px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.box1-box-2{
	display: flex;
	column-gap: 2rem;
}
.box1-box-2
p{
	padding: 3rem;
}
.box-pack-3{
	width: 500px;
	margin-top: 2rem;
	margin-left: 31rem;
}
.box-pack-3
.boxone{
	background: linear-gradient(to top, white 70%, rgb(237, 215, 222) 50%);
	height: 150px;
	width: 230px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.box-pack-3
.boxtwo{
	background: linear-gradient(to top, white 70%, rgb(227, 247, 220) 50%);
	width: 230px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.boxone-boxtwo{
	display: flex;
	column-gap: 2rem;
}
.boxone-boxtwo
p{
	padding: 3rem;
}
.para-sub{
	font-family: Arial;
	font-weight: lighter;
	font-size: 13px;
	left: 2px;
	
}
.first{
  position: absolute;
  text-align: justify;
  padding: 20px;
  background-color: #FFFFFF; 
  height: 100px; 
  width: 270px; 
  top:113px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.sm{
	font-family: Arial;
	font-weight: bold;
	position: absolute;
	top: 710px;
	left: 680px;
}
.ttfyc{
	font-family: Arial;
	font-weight: bold;
	position: absolute;
	top: 750px;
	left: 500px;
}
.ac{
	position: absolute;
	left: 500px;
	top: 800px;
	height: 30px;
	width: 100px;
	border-radius: 20px;
	border:none;
	border: 1px solid #ccc;
}
.co{
	position: absolute;
	left: 620px;
	top: 800px;
	height: 30px;
	width: 180px;
	border-radius: 20px;
	border:none;
	border: 1px solid #ccc;
}
.hi{
	position: absolute;
	left: 820px;
	top: 800px;
	height: 30px;
	width: 180px;
	border-radius: 20px;
	border:none;
	border: 1px solid #ccc;
}
.gp{
	position: absolute;
	left: 500px;
	top: 850px;
	height: 30px;
	width: 170px;
	border-radius: 20px;
	border:none;
	border: 1px solid #ccc;
}
.third-colored-box{
  position: absolute;
  width: 200px; 
  height: 200px; 
  top:900px;
  left: 500px;
  
}
.upp-part{
  background-color: #CBC3E3; 
  height: 50px;
  width: 200px;
  border-radius: 6px;
  border:none;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}
.low-part{
  background-color: #FFFFFF; 
  height: 100px; 
  width: 200px; 
  margin-top: -10px;
  border-radius: 6px;
  border:none;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.fourth-colored-box{
  position: absolute;
  width: 200px; 
  height: 200px; 
  top:900px;
  left: 720px;
  
}
.u-part{
  background-color: #CBC3E3; 
  height: 50px;
  width: 200px;
  border-radius: 6px;
  border:none;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}
.l-part{
  background-color: #FFFFFF; 
  height: 100px; 
  width: 200px; 
  margin-top: -10px;
  border-radius: 6px;
  border:none;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.fifth-colored-box{
  position: absolute;
  width: 200px; 
  height: 200px; 
  top:1060px;
  left: 500px;
  
}
.u-p{
  background-color: #CBC3E3; 
  height: 50px;
  width: 200px;
  border-radius: 6px;
  border:none;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}
.l-p{
  background-color: #FFFFFF; 
  height: 100px; 
  width: 200px; 
  margin-top: -10px;
  border-radius: 6px;
  border:none;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.sixth-colored-box{
  position: absolute;
  width: 200px; 
  height: 200px; 
  top:1060px;
  left: 720px;
  
}
.up-p{
  background-color: #CBC3E3; 
  height: 50px;
  width: 200px;
  border-radius: 6px;
  border:none;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}
.lo-p{
  background-color: #FFFFFF; 
  height: 100px; 
  width: 200px; 
  margin-top: -10px;
  border-radius: 6px;
  border:none;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.mo{
	top: 700px;
	position: absolute;
	left: 1280px;
	background-color: white;
	border: none;
	color: #800080;	
	font-size: 15px;
}
.mb{
	top: 680px;
	position: absolute;
	left: 1120px;
	background-color: white;
	border: none;
	color: #800080;	
	font-size: 20px;
	font-family: Arial;
}
.btn-one{
	position: absolute;
	text-align: justify;
	padding-left: 100px;
	top: 740px;
	left: 1120px;
	height: 80px;
	width: 280px;
	border-radius: 10px;
	border: none;
	background-color: white;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.btn-two{
	position: absolute;
	text-align: justify;
	padding-left: 100px;
	top: 840px;
	left: 1120px;
	height: 80px;
	width: 280px;
	border-radius: 10px;
	border: none;
	background-color: white;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.btn-three{
	position: absolute;
	text-align: justify;
	padding-left: 100px;
	top: 940px;
	left: 1120px;
	height: 80px;
	width: 280px;
	border-radius: 10px;
	border: none;
	background-color: white;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.btn-four{
	position: absolute;
	text-align: justify;
	padding-left: 100px;
	top: 1040px;
	left: 1120px;
	height: 80px;
	width: 280px;
	border-radius: 10px;
	border: none;
	background-color: white;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}



