<!DOCTYPE html>
<html>
<head>
  <title>My Courses</title>
  <link rel="stylesheet" type="text/css" href="css/student_css/my_courses.css">
</head>
<body>


 {{>student_nav}}
</div>

<div>
  <p class="course-1">My Enrolled Courses</p>
</div>

<div class="card">  
  <p style="font-family: Arial;
left: 50px; position: absolute; top: 40px;">Computer<br>Organization/design &<br> architecture</p>
      
</div>

<div class="card" style="background-color: #ffffff;
  align-items: center;
  top: 300px;
  position: absolute;
  padding-top: 20px;
  left: 480px;
  height: 160px;
  width: 260px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);">  
  <p style= "font-family: Arial;
left: 50px; position: absolute; top: 40px;">Health information<br>
  management</p>
</div>

<div class="card" style="background-color: #F0F8FF;
  align-items: center;
  top: 300px;
  position: absolute;
  padding-top: 20px;
  left: 770px;
  height: 160px;
  width: 260px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);">  

  <button style="background-color: #F0F8FF;
  border: none;
  position: absolute; left: 70px; top: 80px; font-size: 15px; color: #3457D5;">+Add Courses</button>
</div>

<div>
    <p class="footer-msg">© 2003-2023 Chegg Inc. All rights reserved.</p>
  </div>

  <div>
    <p class="msg-2">Academic integrity / Feedback / Help center / Manage subscription</p>
  </div>

<hr class="horizontal-line">

<div class="cydgphi">
    <button>Cookie Notice</button>
    <button>Your Privacy Choices</button>
    <button>Do not sell my info</button>
    <button>General Policies</button>
    <button>Privacy Policy</button>
</div>

</body>
</html>
