<!DOCTYPE html>
<html>
<head>
	<title>after post a question</title>
	<link rel="stylesheet" type="text/css" href="css/after_post_question.css">
</head>
<body>

<div class="header">
	<div class="first-section">
		<button class="EQA_button">
			Expert Q/A
		</button>
   </div>
	<div class="middle-section"><input class="search-bar"type="text" placeholder="Find books or homework solutions"><button class="search-button">

		<img class="search_icon" src="icons\search.png" width="30" height="30" alt="search_img">
	</button>
		
    </div>
   {{>sidebar}}
 <div>
 	<p class=Q>Question</p>
 </div>
 <div>
 	<button class="Q_btn">1. a) Archive soinic images. The Advanced CIBR real-time data processing routines are utilised by the system to ensure that transactions received via ACI, Capture and EDI routines are seamlessly processed immediately into the document archive. The key index fields used to identify, process and retrieve the electronic transactions are the transaction type, sub-ledger identifier and the system invoice reference.
</button>
<div>
 	<p class="std">Show transcribed data</p>
 </div>
 <div>
 	<p class=EA>Expert Answer</p>
 </div>
 <div>
 	<p class="answer">This is the answer of this question. This was written by miss y</p>
 </div>
 </div>

 <div class="card">	
 	
 	    <input class="Post-a-question-box" type="text" name="copypaste" placeholder="For example: what is gpt3?">
<div>
	<p class="post">Post a question here</p>
</div>
<div>
	<p class="sub">your toughest questions solved step by step</p>
</div>
<div>
	<button class="continue-to-post-button">continue to post</button>
	
</div>
</div>

 <div class="card" style="top: 500px; left: 1040px; right: 10px; bottom: 20px;">
    
 	    <input class="Post-a-question-box" type="text" name="copypaste" placeholder="For example: what is gpt3?">
<div>
	<p class="post">Post a question here</p>
</div>
<div>
	<p class="sub">your toughest questions solved step by step</p>
</div>
<div>
	<button class="continue-to-post-button">Ask AI</button>
	
</div>
</div>
<div>
	<p class="sbs">Step-by-step</p>
</div>

<div class="index">
        <section class="section-1">
            <h2>1st Step</h2>
        </section>
        <section class="section-2">
            <h2>All Step</h2>
        </section>
        <section class="section-3">
            <h2>Answers Only</h2>
        </section>
    </div>

    <div class="card" style="top: 1240px; left: 500px; right: 10px; bottom: 100px; top: 1130px; border-radius: 0px; width: 500px; height: 50px;">
    	<div>
    		<p style="font-family: Arial; padding-left: 20px; top: 30px; ">Was this answer helpful?</p>
    	</div>
    	<div style="position:absolute; left: 250px; top: 20px;">
    	<button style="height: 35px; width: 100px; border-radius: 50px; border: 1px solid #000000;"><img src="icons\like.png" width="20" height="20" alt="search_img"></button>
    	<button style="height: 35px; width: 100px; border-radius: 50px; border: 1px solid #000000;"><img src="icons\like.png" width="20" height="20" alt="search_img"></button>
    </div>
	</div>

<div class="card" style="top: 1240px; left: 500px; right: 10px; bottom: 20px; width: 500px; height: 240px;">
	   <input class="Post-a-question-box" style="width: 400px; bottom: 80px;" type="text" name="copypaste" placeholder="For example: what is gpt3?">
<div>
	<p class="post">Post a question here</p>
</div>
<div>
	<p class="sub">your toughest questions solved step by step</p>
</div>
<div>
	<button class="continue-to-post-button" style=" top:200px; left: 220px;">continue to post</button>
</div>
<div>
	<button class="AI-Expert-button">AI Expert</button>
</div>
</div>
 </body>
</html>