<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Dashboard</title>
	
		<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
	
		<!-- font awesome cdn link  -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
	
		<!-- custom css file link  -->
		<link rel="stylesheet" href="css/dashboard.css">
	
	</head>
<body>

<div class="header">
	<div class="left-section">
		 <a href="/Dashboard" style="text-decoration: none;"><button class="Home_button">
			Home
		</button></a>
   </div>
	<div class="middle-section"><input class="search-bar"type="text" placeholder="Find books or homework solutions">
	<button class="search-button">

		<img class="search_icon" src="icons\search.png" width="30" height="30" alt="search_img">
	</button>

	<div class="profile-logout-btn">
	<a href="student_profile"><button>Profile</button></a>
	<form action="/logout?_method=DELETE" method="post">
	<button type="submit">Logout</button>
	</form>
	</div>
	</div>
</div>

 {{!-- sidebar for all --}}
		 {{>sidebar}}
{{!-- sidebar for all --}}


 <div class="card">	
 	<input class="Post-a-question-box" type="text" name="copypaste" placeholder="For example: what is gpt3?">
<div>
	<p class="post"> {{name}}Post a question here</p>
</div>
<div>
	<p class="sub">your toughest questions solved step by step</p>
</div>
<div>
  <!-- Update href to point to the new route -->
  <a href="/check_subscription_before_posting">
    <button class="continue-to-post-button"> continue to post</button>
  </a>
</div>


<div>
    <a href="http://localhost:3000/aichat">
        <button class="AI-Expert-button" >AI Expert</button>
    </a>
</div>

</div>

<div class="my-courses-container">
	<div>
		<p class="para-1">My Courses</p>
		<button>Computer organization</button>
		<button>Computer organization</button>
		<button class="three">+Add a course</button>
	</div>
</div>

<div class="two-color-box">
	<p class="para-one">Pick back up</p>
	<div class="div1-div-2">
	<div class="div-1">
		<p>Data Structure and Algo</p>
	</div>
	<div class="div-2">
		<p>Biology</p>
		</div>
	</div>
</div>

<div class="container-four">
		<div>
		<p class="para">Suggested Courses</p>
		</div>
		<div>
		<p class="para-sub">Find what you need in one step. Select from <br> courses based on your recently viewed topics</p>
	</div>
	<div>
		<button class="first">general physisics with calculus<br><br>
		+Add this course</button>
		
	</div>
</div>
<div>
	<p class="sm">Show more</p>
</div>
<div>
	<p class="ttfyc">top tools for your courses</p>
</div>
  <div><button class="ac">All Courses</button></div>
  <div><button class="co">Computer Organizations...</button></div>
  <div><button class="hi">Health information...</button></div>
  <div><button class="gp">General Physics W...</button></div>

<div class="four-color-box">
	<div class="box1-box-2">
	<div class="box-1">
		<p>Lorem ipsum</p>
	</div>
	<div class="box-2">
		<p>Lorem ipsummmm</p>
		</div>
	</div>
</div>

<div class="box-pack-3">
	<div class="boxone-boxtwo">
	<div class="boxone">
		<p>Lorem ipsum</p>
	</div>
	<div class="boxtwo">
		<p>Lorem ipsummmm</p>
		</div>
	</div>
</div>

  <div>
  	<button class="mo">Manage Orders</button>
  </div>
  <div>
  	<p class="mb">My books</p>
  </div>
  <div>
  	<button class="btn-one">Connect Online Access... <br>
  		<br> Solutions</button>
  </div>
    <div>
  	<button class="btn-two">Calculas And Its Applic... <br> <br> Solutions</button>
  </div>
    <div>
  	<button class="btn-three">Quantative Methods f... <br> <br>Solutions</button>
  </div>
    <div>
  	<button class="btn-four">Introduction to Environm... <br><br>Solutions</button>
  </div>


 <script>
	// Use JavaScript to handle button click events
	document.getElementById('openReactAppButton').addEventListener('click', function () {
		// Change the URL accordingly to match your React app's URL
		window.location.href = 'http://localhost:9000/ai';
	});
</script>



</body>

</html>