
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Landing page</title>
	
		<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
	
		<!-- font awesome cdn link  -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
	
		<!-- custom css file link  -->
		<link rel="stylesheet" href="css/landing_page.css">
	
	</head>
<body>
	{{!-- //nav from template/partials --}}
   {{>navbar}}

 <div class="paragraph">
 	<p>Ease your study journey with<br>
 	the help of our AI expert and Human expert</p>
 	<!--<p class="sub">Cover various subjects from 
 	different fields</p>
 	<p class="sub_sub">Unlimited access to 1.5 million+ textbook solutions.</p>
 	<p class="sub_sub_sub">Step by step textbook solutions.</p>-->
 	<!-- <button class="Human_Expert_button">
 		Human EXpert
 	</button> -->
	 <a href="submit_question"><button class="Human_Expert_button""> Human EXpert </button></a>
 	<button class="Human_Expert_button">
 		Ai EXpert
 	</button>
 </div> 

 <div><button class="submit_questions_button">
	Submit Questions & get Solutions
</button>

<div class="card">	
 		
 		<input class="email_box" type="text" placeholder="Enter Your Email ID">
 	
 	    <input class="select_topic_box" type="text" name="topic" placeholder="Slect Topic">
 	
 	    <input class="copypaste_box" type="text" name="copypaste" placeholder="Copy and Paste Your Question Here...">
 	
 		<input class="how_soon_need_answer_box" type="text" name="answer" placeholder="How soon do you need an Answer?">

 		 <form action="upload.php" method="post" enctype="multipart/form-data">
     
     		<label for="file"></label>
              <input class="attach_file" type="file" id="file" name="file">
               
        </form>

        <button class="Get_Answer_button">
	Get Answer
</button>
<p class="referall">got a referall code?</p>

 	</div>
 	</div>

 	<div class="second_paragraph">
 		<p>Subjects Will be Covered <br>
 		by our Experts help</p>
 		
 	</div>

 	<div class="button-container">
 		<button class="CSE_button">
 			Computer<br> 
 			Science
 		</button><button class="marketing_button">
 			Marketing
 		</button>
 	</div>
 	<div class="button-container">	
 		<button class="Accouting_button">
 			Accounting
 		</button>
 		<button class="Finance_button">
 			Finanace
 		</button>
 	</div>
 	<div class="button-container">
 		<button class="Machine_Learning_button">
 			Machine learning
 		</button>
 		<button class="Arficial_Intelligence_button">
 			Artificial Intelligence
 		</button>
 	</div>
 	<div class="button-container">
 		<button class="DSA_button">
 			Data Structure<br>
 			& Algorithm
 		</button>
 		<button class="Computer_Networks_button">
 			Computer<br>
 			Networks
 		</button>
</div>
	<div class="Subscribe_Now_button">
 		Subscribe Now
 	</div>
 <div class="teacher_image_container">
 	<img src="landing page image\7367529_3646394.jpg" width="500" height="500"><style>
 		img{
 			margin-left: -600px;
			margin-bottom: 20px;
			margin-top: 170px;
 		}
 	</style>
 	   </div>	
 	<div class="third_paragraph_container">
 		<div class="second_paragraph">
 		<p>Connect With an Online Tutor</p>
 		<p class="sub_third_paragraph">No long queues for TA | Tutors Available 24/7</p>
 		<p class="sub_sub">More than 100 years of combined teaching experience</p>
 		<p class="sub_sub_sub">op University Recruits for all your College Subjects</p>
 		<p class="sub_sub_sub_sub">Online Tutoring with one to one interaction</p>
 	</div>
 	<div class="button">
	Subscribe Now
	
</div>	
</div>

<div class="fourth_paragraph_container">
	<div class="second_paragraph"></div>
	<p class="first">Our Students Love Us</p>
	
</div>
<div class="OSLU_containers">
	<button class="first_container">
		I am a college student with part time job. I  have tried transtutors based on a friend's suggestion and i must confess i was not disappointed. They provide instant help without compromising on quality
	</button>
</div>

<div class="OSLU_containers">
	<button class="second_container">
		I am a college student with part time job. I have tried transtutors based on a friend's suggestion and i must confess i was not disappointed. They provide instant help without compromising on quality
	</button>
</div>

<div class="OSLU_containers">
	<button class="third_container">
		I am a college student with part time job. I have tried transtutors based on a friend's suggestion and i must confess i was not disappointed. They provide instant help without compromising on quality
	</button>
</div>

<div class="footer">
	<div class="footer-content">
		
		
	</div>
	
</div>
<div class="footer_sign_up">
	<button class="sign_up_today">
		Sign Up Today to become part of<br> Transtutors Community of 500,000 Students
		
	</button>
</div>
<button class="sign_up_now_button">
		SIGN UP NOW
	</button>
<!--<button class="footer_studysage">
	Study Sage
</button>-->	

<div class="ssps">
    	<p>Study Sage Products & Services</p>

    	<button 
    	style="margin-bottom: 10px;
    	background: rgb(34,193,195); 
    	border:none;">AI Expert</button><br>

    	<button  
    	style="margin-bottom: 10px; 
    	background: rgb(34,193,195);  
    	border:none;">Human Expert</button><br>

    	<button  
    	style="margin-bottom: 10px; 
    	background: rgb(34,193,195); 
    	border:none;">Study Guide</button><br>

    	<button  
    	style="margin-bottom: 10px; 
    	background: rgb(34,193,195); 
    	border:none;">Learn</button><br>
    </div>

    <div class="CS">
    	<p>Customer Service</p>
    	
    	<button
    	style="margin-bottom: 10px;
    	background: rgb(34,193,195); 
    	border:none;">Give Us Feedback</button><br>

    	<button  
    	style="margin-bottom: 10px; 
    	background: rgb(34,193,195); 
    	border:none;">Customer Service</button><br>

    	<button  
    	style="margin-bottom: 10px; 
    	background: rgb(34,193,195);  
    	border:none;">Manage Subscription</button><br>
    </div>

     <div class="C">
    	<p>Company</p>
    	
    	<button  
    	style="margin-bottom: 10px;
    	background: rgb(34,193,195);  
    	border:none;">About Study Sage</button><br>

    	<button 
    	style="margin-bottom: 10px; 
    	background: rgb(34,193,195);  
    	border:none;">Study sage for good</button><br>

    	<button 
    	style="margin-bottom: 10px; 
    	background: rgb(34,193,195);  
    	border:none;">Investor Relations</button><br>

    	<button 
    	style="margin-bottom: 10px; 
    	background: rgb(34,193,195);  
    	border:none;">Jobs</button><br>

    	<button  
    	style="margin-bottom: 10px; 
    	background: rgb(34,193,195);  
    	border:none;">Site Map</button><br>
    </div>

    <div class="educators">
    	<p>Educators</p>
    	
    	<button
    	style="margin-bottom: 10px;
    	background: rgb(34,193,195);  
    	border:none;">Institute of Digital Learning</button><br>

    	<button  
    	style="margin-bottom: 10px; 
    	background: rgb(34,193,195);  
    	border:none;">Academic Integrity</button><br>

    </div>

  
</body>

</html>