<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>submit_question</title>
	
		<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
	
		<!-- font awesome cdn link  -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
	
		<!-- custom css file link  -->
		<link rel="stylesheet" href="css/submit_question.css">
	
	</head>
<body>
	<div class="header">
	<div class="left-section">
		<button class="Go_back_button">
			Go back
		</button>
   </div>
		</div>
{{!-- sidebar for all --}}
		 {{>sidebar}}
{{!-- sidebar for all --}}
 <div class="paragraphs">
 	<p class="AaE">Ask an Expert</p>
 	<p class="sub">Get step by step homework help in just 30 miniutes!</p>
 	<p class="sub_sub">Our solutions are designed to help you learn and check your work. Review our honor code to see how we support academic integrity</p>
 	<p class="sub_sub_sub">Step 1 of 2: What's your question?</p>
 	<p class="sub_sub_sub_sub">You can drag and drop or upload images</p>
 </div>
  <div class="text-editor">
        <div class="toolbar">
            <button id="bold-button">B</button>
        </div>
        <div class="editor" contenteditable="true" id="editor"></div>
        <div class="image-drop-zone" id="image-drop-zone">Drag and drop an image here</div>
    </div>
    <div>
    	<button class="continue-button">Continue</button>
    </div>
    <div>
    	<p class="step-2-of-2">Step 2 of 2: Select a subject</p>
    </div>
    <div>
    <a href="after_post_question"><button class="post-question-button">Post question</button></a>
    </div>
</body>
</html>