<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Login page</title>
	<link rel="stylesheet" type="text/css" href="css/login.css"/>
	<link rel="stylesheet" type="text/css" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"/>
</head>
<body>
	<header class="header">
	<nav class="nav">
		<a href="#" class="nav_logo">Study Sage</a>
		 
	</nav>
	</header>
	<section class="home">
	<div class="form_container">
		<i class="uil uil-times form_close"></i>
		<div class="form login_form">
			<form action="#">
				<h2>Login</h2>

				<div class="input-box">
					<input type="email" placeholder="Enter your email" required />
					<i class="uil uil-envelope-alt"></i>
					
				</div>
				<div class="input-box">
					<input type="password" placeholder="Enter your password"required/>
					<i class="uil uil-lock password"></i>
					<i class="uil uil-eye-slash pw-hide"></i>
					
				</div>
	<div class="option-field">
		<span checkbox>
			<input type="checkbox" id="check">
			<label for="check">Remember me</label>
			
		</span>
		<a href="#" class="forgot-pw">Forgot password?</a>
		
	</div>

	<button class="button">Login</button>
	<div class="login_signup">Dont't have an account? <a href="#" id="signup">Signup</a></div>
				
			</form>
			
		</div>

	 
	</div>
	</section>

	 
</body>
</html>
