<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Login page</title>
	<link rel="stylesheet" type="text/css" href="css/login.css"/>
	<link rel="stylesheet" type="text/css" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"/>
</head>
<body>
	<header class="header">
	<nav class="nav">
		 
		<button class="btn" id="form-open">Login</button>
	</nav>
	</header>


	<section class="home">
	<div class="form_container">
		<i class="uil uil-times form_close"></i>
		<!--Signup-->

		<div class="form signup_form">
			<form action="#">
				<h2>Signup</h2>

				<div class="input-box">
					<input type="email" placeholder="Enter your email" required />
					<i class="uil uil-envelope-alt"></i>
					
				</div>
				<div class="input-box">
					<input type="password" placeholder="Create password"required/>
					<i class="uil uil-lock password"></i>
					<i class="uil uil-eye-slash pw-hide"></i>
				</div>

				<div class="input-box">
					<input type="password" placeholder="Confirm password"required/>
					<i class="uil uil-lock password"></i>
					<i class="uil uil-eye-slash pw-hide"></i>
				</div>

	

	<button class="button">Signup</button>
	<div class="login_signup">Already have an account? <a href="#" id="Login">Login</a></div>
				
			</form>
			
		</div>
	</div>
	</section>

	<script src="login_script.js"></script>
</body>
</html>
